@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary-50: #edf8ff;
    --color-primary-100: #d6edff;
    --color-primary-200: #b5e1ff;
    --color-primary-300: #83cfff;
    --color-primary-400: #48b4ff;
    --color-primary-500: #1e8fff;
    --color-primary-600: #066fff;
    --color-primary-700: #005aff;
    --color-primary-800: #0845c5;
    --color-primary-900: #0d3f9b;

    --color-secondary-50: #fff5ed;
    --color-secondary-100: #ffe8d4;
    --color-secondary-200: #ffcea8;
    --color-secondary-300: #ffab71;
    --color-secondary-400: #ff7a35;
    --color-secondary-500: #fe5811;
    --color-secondary-600: #ef3e07;
    --color-secondary-700: #c62a08;
    --color-secondary-800: #9d240f;
    --color-secondary-900: #7e2010;
}

@source "../node_modules/flowbite-svelte/dist";

@layer base {
    /* disable chrome cancel button */
    input[type="search"]::-webkit-search-cancel-button {
        display: none;
    }

    a {
        @apply underline;
        @apply text-blue-600;
    }
    a:visited {
        @apply text-purple-700;
    }

}
